BODY { FONT-SIZE: 11px; MARGIN: 0px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff }
P {text-align:left;}
.langBar{background-color:#77499D; background-image:url(images/bgLangBarT4.gif); font:normal 11px Arial;color:#000066; padding:0px 5px 0px 5px;}
.pgCnt { BORDER-RIGHT: #abaebf 1px solid; BORDER-TOP: #abaebf 1px solid; BORDER-LEFT: #abaebf 1px solid; BORDER-BOTTOM: #abaebf 1px solid ;}
.pnl { /*BORDER: #196EAF 1px solid;*/ BORDER: #918FC2 1px solid;BACKGROUND-COLOR:#EFEEFC; }
.pnlHdr {  /*background-color:#196EAF*/  background-color:#AFADD8; background-image:url(images/bgPnlHdrT4.gif) ;color:#FFFFFF;height:20px; }
.pnlHdrDiv { FONT-WEIGHT: bold; FONT-SIZE: 11px; color:#000088; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif }
.pnlCnt { PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; COLOR: #003366; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;  }
.pnlCntCm { PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-SIZE: 10px; PADDING-BOTTOM: 8px; COLOR: #003366; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify }
.pCnt { text-indent:30px; PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; COLOR: #003366; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify; line-height:10pt}
.pnlCntHdr { FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif ; }
.lst { FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ddddff }
.lst2 { FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeff }
A { COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
A:hover { COLOR: #9900cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline }
A.langMnu { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR:#0000AA; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
A.pnlBtn { FONT: bold 11px Verdana, Arial, Helvetica, Sans-serif; COLOR:#88FF88; TEXT-DECORATION: none }
A.pnlBtn:hover { COLOR:#FFFF88; }
A.langMnuDis { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR:#888888; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none }

A.aMnu { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR:#FFFFFF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
A.aMnu:hover { COLOR: #00FF00; TEXT-DECORATION: underline }
A.aMnuSel { FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none;color:#000000; }
TD.mnu {text-align:center; font:bold 11px Verdana,Arial,Helvetica sans-serif; }
.tv{border-style:none;font:normal 11px Arial,Helvetica,sans-serif;border-width:0px;}
.tvb{border-style:none;font:bold 11px Arial,Helvetica,sans-serif;border-width:0px;}
.err { color:red;}
.hnd { CURSOR: hand }
.sm9 { FONT-SIZE: 9px }
.iFl { PADDING-RIGHT: 1px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; FONT: bold 11px Arial; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px }
.iFl2 { PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; FONT: normal 11px Arial; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px }
.var { PADDING-RIGHT: 0px; PADDING-BOTTOM: 0px; FONT: normal 11px Arial; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px }
.iFv { PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; FONT: bold 11px Arial; CURSOR: hand; COLOR: #000000; PADDING-TOP: 0px }
.iFv2 { PADDING-RIGHT: 1px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; FONT: normal 11px Arial; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px }
.i0
{
	font: bold 12px Arial;
	cursor: hand;
	color: #ffff00;
	background: #330066;
	border-bottom: white 1px solid;
	padding: 1px 1px 1px 10px;
}
.i1
{
	font:normal 12px Arial;
	cursor:hand;
	border-bottom: solid 2px white;  
	background:#d8bfd8/*#e6e6fa*/;
	color:#00008b/*#4b0082*/;
	padding: 1px 1px 1px 10px;
}
.i4	/*lowest level */
{
	font: normal 11px Arial;
	color: #660000;
	/* background: white; /*#ffffcc*/
	/* border-bottom: #CCCCFF 1px solid; */
	padding: 0px 1px 0px 10px;
}
.toolbar
{
	float: left;
	margin-bottom: 1px; 
	margin-right: 2px;
}
.imgToolbar
{
	margin:0px;padding:1px;
	border-width:1px;border-style:none;
	background-color: transparent;

}
.imgToolbarHover
{
	margin:0px;
	padding: 0px;
	border-top: 1px solid #000080;	
	border-left: 1px solid #000080;
	border-right: 1px solid #000080;
	border-bottom: 1px solid #000080;  
	background-color: #FE914E;
	
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFE914E', EndColorStr='#FFFFD38E');
}
.srch{background-color:Yellow; font-weight:bolder;}
.H11b{font: bold 11px Arial;}
A.H11b:hover {font: bold 11px Arial;}
.H11{font: normal 11px Arial;}
.H11v{font: normal 11px Verdana,Arial,Helvetica,Sans-Serif;}
.H9tb {font: bold 9px Tahoma,Arial,Helvetica,Sans-Serif;}
A.H9tb:hover {font: bold 9px Tahoma,Arial,Helvetica,Sans-Serif;text-decoration:underline;}
.H9t {font: normal 9px Tahoma,Arial,Helvetica,Sans-Serif;}
A.H9t:hover {font: normal 9px Tahoma,Arial,Helvetica,Sans-Serif;text-decoration:underline;}
.H11vb {font: bold 11px Verdana,Arial,Helvetica,Sans-Serif;}
.H10b {font: bold 10px Arial;}
.H10 {font: normal 10px Arial;}
.H9 { font:normal 9pt Arial;}
.H9b { font:bold 9pt Arial;}
.H9i { font:italic 9pt Arial;}
.H8 { font:normal 8pt Arial;}
.H8i { font:italic 8pt Arial; }
.H8b { font:bold 8pt Arial;}

.H5 { FONT: bold 10pt Arial }
.H4 { FONT: bold 11pt Arial }
.H3 { FONT: bold 12pt Arial }
.saveHistory { BEHAVIOR: url(#default#savehistory) }
.grid { FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif }
.mnuLeft 
{
	font:bold 11px Arial,Helvetica,Sans-Serif; 
	border-style:solid; 
	border-top-color:#CCCCCC; border-right-color:#9593C5; 
	border-bottom-color:#9593C5;border-left-color:#CCCCCC;
	border-width:1px; 
	/*background-color:#196EAF;*/
	background-color:#808CBC;
	background-image:url(images\bgMnuLeftTxT5_a.jpg);
	color:#FFFFFF;
	cursor:hand;
	padding:5px;
}
.mnuLeftHover 
{
	font:bold 11px Arial,Helvetica,Sans-Serif; 
	border-style:solid; 
	border-top-color:#CCCCCC; border-right-color:#9593C5; 
	border-bottom-color:#9593C5;border-left-color:#CCCCCC;
	border-width:1px;  
	background-color:#808CBC;
	background-image:url(images\bgMnuLeftTxT5.jpg);
	color:#FFFFFF;
	cursor:hand;
	padding:5px;
}

.mnuLeftItem
{
	/*border-top:1px outset darkgray; */
}
A.mnuLeftLink {font:bold 11px Arial, Helvetica, sans-serif; color:#FFFFFF; text-decoration:none }
A.mnuLeftLink:hover {font:bold 11px Arial, Helvetica, sans-serif; color:#FFCC55;text-decoration:underline}
